*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 50%;
    background-color: lightgrey;
    padding: 20px;
}

section{
    flex: 50%;
    background-color: lightgrey;
    padding: 20px;
}


@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}